@page "/"
@using BlazorApp1.Pages.Components
<h2 class="text-red" color=orangered;>Asilbek</h2> <br />
<h2 class="red-text" color=red;>CatPhotoApp</h2>
<input type="checkbox" @onchange="@( () => {emailShow=!emailShow;})" />

<label>Show Email</label>

<ListPeople humans="@humans" emailShow ="@emailShow" ></ListPeople>

<MyTextBox @attributes="keys" ></MyTextBox>

@code {

   

}
